@(title: String, loggedUser: Option[User], withMainTabs: Boolean = true, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""))(content: Html)(implicit messages: Messages)

@import views.html.tags.auth._
@import controllers.routes

@displayToggleLang = {
@if(messages.lang.code == "en") {
    <li><a class="navbar-icon" href="@routes.Application.selectLang("pl")"><img height="26" src="../../../public/images/menu_items/polish_lang.png"></a></li>
} else {
    <li><a class="navbar-icon" href="@routes.Application.selectLang("en")"><img height="26" src="../../../public/images/menu_items/english_lang.png"></a></li>
}
}

@navbarContent = {
@if(withMainTabs) {
    <ul class="nav navbar-nav">
        @*<li class="@("active".when(tab == "index"))"><a href="@routes.Application.index">@Messages("topbar.index")</a></li>*@
        @loggedUser.map { implicit user =>
            @withService("serviceA") {
                <li class="@("active".when(tab == "serviceA"))"><a href="@routes.Application.serviceA">A</a></li>
            }
            @withService("serviceA", "serviceB") {
                <li class="@("active".when(tab == "serviceA_or_serviceB"))"><a href="@routes.Application.serviceAorServiceB">
                    A || B</a></li>
            }
            @withServices("serviceA", "serviceB") {
                <li class="@("active".when(tab == "serviceA_and_serviceB"))"><a href="@routes.Application.serviceAandServiceB">
                    A && B</a></li>
            }
            @withService("master") {
                <li class="@("active".when(tab == "settings"))"><a href="@routes.Application.settings">Settings</a></li>
            }
        <li class="@("active".when(tab == "myaccount"))"><a class="navbar-icon" href="@routes.Application.myAccount"><img height="26" src="../../../public/images/menu_items/my_account.png"></a></li>
        }
    </ul>
}
    <ul class="nav navbar-nav navbar-right">
    @loggedUser.map { user =>
    <li class="navbar-text text-right" style="margin: 5px 15px">
        @Html(Messages("topbar.hello", s"""<span class="text-success">${user.nick}</span>""", s"""<span class="text-info">${user.services.mkString(", ")}</span>"""))
    </li>
    @displayToggleLang
    <li><a class="navbar-icon" href="@routes.Auth.signOut"><img height="26" src="../../../public/images/menu_items/logout.png"></a></li>
    }.getOrElse {
        @displayToggleLang
        <li class="@("active".when(tab == "signin"))"><a href="@routes.Auth.signIn">@Messages("signin")</a></li>
        <li class="@("active".when(tab == "signup"))"><a href="@routes.Auth.startSignUp">@Messages("signup")</a></li>
    }
    </ul>
}

@main(title, navbarContent, styles, scripts, modals)(content)