body {
	padding-top: 60px;
	background-color: #E1E2E1;
}

.navbar-default {
  border-color: #E1E2E1;
  background-color: #2286C3;
  color: #000000;
}

.navbar-brand {
  padding-top: 5px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d1e0ff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #d1e0ff;
  background-color: transparent;
}

.navbar-default .navbar-text {
  color: white;
}

.navbar-icon {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.navbar-icon > .active {
  background-color: black;
}

.text-success {
  color: #00cf0a;
}

.text-info {
  color: #00edff;
}

#signin-helper {
	margin-top: 50px;
	td {
		cursor: pointer;
	}
}