@(partForm: Form[Part], oldPartId: Option[String] = None)(implicit request: RequestHeader, user: User, messages: Messages)
@import b3.vertical.fieldConstructor
@import controllers.routes
@views.html.templates.logged(Messages("parts.add")) {
	@tags.alertFromRequest(request, "error")
    @oldPartId match {
        case Some(partId) => {
            @b3.formCSRF(routes.Application.handleUpdatePart(partId)) {
                <h1 class="text-primary">@Messages("parts.add")</h1>
                <fieldset>
                    @b3.text( partForm("name"), '_label -> Messages("parts.table.name"), 'placeholder -> Messages("parts.name.placeholder"), 'autofocus -> true )
                    @b3.text(partForm("price"), '_label -> Messages("parts.table.price"), 'placeholder -> 0.5)
                    @b3.submit('class -> "btn btn-primary btn-block"){ @Messages("parts.save") }
                    <a class="btn btn-default btn-block" href="@routes.Application.parts">@Messages("back")</a>
                </fieldset>
            }
        }
        case None => {
            @b3.formCSRF(routes.Application.handleAddPart) {
                <h1 class="text-primary">@Messages("parts.add")</h1>
                <fieldset>
                    @b3.text( partForm("name"), '_label -> Messages("parts.table.name"), 'placeholder -> Messages("parts.name.placeholder"), 'autofocus -> true )
                    @b3.text(partForm("price"), '_label -> Messages("parts.table.price"), 'placeholder -> 0.5)
                    @b3.submit('class -> "btn btn-primary btn-block"){ @Messages("parts.save") }
                    <a class="btn btn-default btn-block" href="@routes.Application.parts">@Messages("back")</a>
                </fieldset>
            }
        }
    }

}